html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #f1f5f8;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

button {
    border: 0;
    outline: 0;
    background: transparent;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 2px #333;
}
.navbar__bars {
    display: none;
    cursor: pointer;
    transition: .2s linear;
}
.navbar__bars:hover {
    transform: rotate(270deg);
}
.navbar__bars i {
    font-size: 25px;
    color: dodgerblue;
}
.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}
.navbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}
.navbar__logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.navbar__logo {
    font-size: 25px;
    color: #333;
}

.navbar__logo span {
    color: dodgerblue;
}
.navbar__lists {
    display: flex;
    align-items: center;
}
.navbar__list {
    margin: 0 8px;
}
.navbar__list:first-child {
    margin-left: 0;
}
.navbar__list:last-child {
    margin-right: 0;
}
.navbar__link {
    color: #333;
    font-weight: 500;
}
.navbar__link.active {
    color: dodgerblue;
}
.navbar__list i {
    color: dodgerblue;
}

@media (max-width: 728px) {
    .navbar {
        flex-direction: column;
    }
    .navbar__bars {
        display: block;
    }
    .navbar__logo-box, .navbar__wrapper {
        width: 100%;
    }
    .navbar__wrapper {
        transition: all .3s ease-out, max-height .3s linear;
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        flex-direction: column;
    }
    .navbar__lists {
        width: 100%;
    }
    .navbar__lists:first-child {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__lists:last-child {
        margin-top: 10px;
        justify-content: center;
    }
    .navbar__lists:first-child .navbar__list {
        transition: all .5s ease;
        margin: 0;
        padding: 10px 0;
        width: 100%;
    }
    .navbar__lists:first-child .navbar__list:hover {
        background-color: dodgerblue;
    }
    .navbar__lists:first-child .navbar__list:hover .navbar__link {
        color: #fff;
        margin-left: 10px;
    }
    
    .show {
        margin-top: 15px;
        visibility: visible;
        opacity: 1;
        max-height: 500px;
    }
    
}